{% extends 'app/base.html' %}
{% load static %}

{% block  title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-5 ">
    <h2 class="text-center">About Us</h2>
    <div class="row container">
        <p class="fs-4 text-center">Welcome to our e-commerce website's About Us page. We are delighted to share our story and give you an insight into who we are and what we stand for.</p><br><br><br>
        
        <p class="fs-4 text-center">At ABC, we are passionate about providing exceptional products and an outstanding shopping experience to our valued customers. Here's an overview of our company:</p><br><br><br><br><br><br>

        <h4 class="text-center">Our Mission</h4>
        <p class="fs-4 text-center"> Whether it's offering high-quality products, delivering excellent customer service, or creating a seamless online shopping experience, we are dedicated to meeting and exceeding your expectations.</p><br><br>
    </div>
</div>
{% endblock main-content %}