{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Cancellation and refund policy{% endblock title %}

{% block main-content %}
<div class="container mt-5 " >
    <div class="row container">
        <h3 class="text-center">Cancellation and refund policy for Gadgets Galore Website</h3><br><br><br>

        <p class="fs-5 text-center">1.Order Cancellation: The policy will outline the conditions under which customers can cancel their orders, such as a specific time frame (e.g., within 24 hours of placing the order) or before the order has been shipped.</p><br><br>
        
        <p class="fs-5 text-center">2.Refund Eligibility: The policy should state the circumstances under which customers are eligible for a refund. For example, if the product is defective, damaged during shipping, or if the wrong product was sent.</p><br><br>

        <p class="fs-5 text-center">3.Refund Process: The policy should explain the steps customers need to follow to initiate a refund, such as contacting customer support, providing order details, and returning the product in its original condition.</p><br><br>

        <p class="fs-5 text-center">4.Refund Methods: The policy should specify the available refund methods, such as a refund to the original payment method or store credit.</p><br><br>

        <p class="fs-5 text-center">5.Return Shipping: If customers are required to return the product to receive a refund, the policy should detail who bears the cost of return shipping. Some businesses offer free return shipping, while others may require customers to cover the shipping expenses.</p><br><br>

        <p class="fs-5 text-center">6.Non-Refundable Items: The policy may mention certain items or conditions that are not eligible for refunds, such as clearance items, used products, or products that have been damaged due to customer misuse.</p><br><br>

        <p class="fs-5 text-center">7.Processing Time: The policy should provide an estimated timeframe for processing refunds, which can vary depending on factors such as the payment method and the complexity of the return.</p><br><br>

        <p class="fs-5 text-center">8.Exchanges: If the website allows exchanges for mobile accessories, the policy may include information on how customers can initiate an exchange and any associated fees or conditions.</p><br><br>

        <p class="fs-5 text-center">9.Policy Updates: The policy should state that it is subject to change and provide information on how customers will be notified of any updates.</p><br><br>

    </div>
</div>
{% endblock main-content %}