{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Contact{% endblock title %}

{% block main-content %}
<div class="container mt-5 ">
    <h2 class="text-center">contact</h2><br>
    <div class="row container">
        <p class="fs-4 text-center">Welcome to our e-commerce website's Contact Us page. We appreciate your interest and are here to assist you in any way we can. Contacting us is easy, and we have several options available for you to reach out. Here's how you can get in touch:</p><br><br><br><br><br><br>
        
        
        <h4 class="fs-4 text-center">Contact Number : 0123456789</h4>
        <h4 class="fs-4 text-center">Email : abc@abc.com </h4>
        
    </div>
</div>
{% endblock main-content %}