{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Home{% endblock title %}

{% block  carousel %}
<!--carousel-->
<section class="row" >
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/carousel/photo_2023-05-06_13-06-27.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/carousel/photo_2023-05-06_13-15-20.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/carousel/photo_2023-05-06_13-15-33.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/carousel/photo_2023-05-06_13-15-37.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/carousel/photo_2023-05-06_13-15-40.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</section>
  


{% endblock carousel %}

{% block welcome-message %}
<div class="row">
    <div class="row text-center p-2 pt-3  border-bottom shadow" style="background-color: antiquewhite;">
      <h3>Welcome</h3>
        <p>Welcome to our ecommerce website, the ultimate destination for all your electronic device needs! We specialize in providing a wide range of products, including screen protectors, cases, and accessories, to enhance and protect your valuable devices. Whether you own a smartphone, tablet, laptop, or any other electronic gadget, we have the perfect solutions to meet your requirements.</p>
        
    </div>
</div>
{% endblock welcome-message %}


{% block main-content%}
<br><br>
<section class="">
  <div class="row " >
    
    
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'MC' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/Marvel Comic Logo Marvel Official Mobile Cover.png' %}" class="img-responseive center-block" alt="">
            <p style="text-decoration:none">Iphone 13 Marvel Comic Logo Cover</p>
          </div>  
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'MC' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/Music Panda Apple Iphone 13 Mobile Cover.png' %}" class="img-responseive center-block" alt="">
            <p>Iphone 13 Panda Cover</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'MC' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/Sky Blue Stripe Pattern Printed Soft Silicone Mobile Cover.png' %}" class="img-responseive center-block" alt="">
            <p>Google Pixel 6A Sky Blue Cover</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'AC' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/earphone.jpg' %}" class="img-responseive center-block" alt="">
            <p>Stereo Earphone</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'SP' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/screen protector.jpg' %}" class="img-responseive center-block" alt="">
            <p>Screen Protector</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <a href="{% url 'category' 'AC' %}" style="text-decoration: none; color: black; font-weight: bold;">
          <div class="text-center">
            <img src="{% static 'app/images/products/oneplus earbuds.jpg' %}" class="img-responseive center-block" alt="">
            <p>Apple Iphone Data Cable</p>
          </div>
        </a>
      </div>
    </div>
    

  </div>
</section><br><br><br>

{% endblock main-content%}