{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Privacy Policy{% endblock title %}

{% block main-content %}
<div class="container mt-5 " >
    <div class="row container">
        <h3 class="text-center">Privacy Policy for Gadgets Galore Website<h3><br><br><br>
        <p class="fs-5 text-center">1.Information Collection: The policy will outline the types of personal information collected from users, such as name, email address, shipping address, and payment details. It may also mention the collection of non-personal information like IP addresses and device information.</p><br><br>
        
        <p class="fs-5 text-center">2.Information Use: The policy will explain how the collected information is used, such as processing orders, personalizing user experience, improving services, and sending promotional communications. It should also clarify whether the data is shared with third parties for marketing or other purposes.</p><br><br>

        <p class="fs-5 text-center">3.Data Security: The policy should describe the measures taken to protect user data from unauthorized access, such as encryption, secure browsing, and secure payment gateways. It may also address the use of cookies and tracking technologies.</p><br><br>

        <p class="fs-5 text-center">4.User Choices: The policy will explain the options available to users regarding their personal information, such as opting out of marketing communications, modifying or deleting their data, and disabling cookies.</p><br><br>

        <p class="fs-5 text-center">5.Third-Party Services: If the website uses third-party services or integrates with external platforms, the policy should disclose those services and provide links to their respective privacy policies.</p><br><br>

        <p class="fs-5 text-center">6.Updates to the Policy: The policy should state that it is subject to change and provide information about how users will be notified of any updates.

        </p><br><br>
    </div>
</div>
{% endblock main-content %}