{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Terms and Conditions{% endblock title %}

{% block main-content %}
<div class="container mt-5 " >
    <div class="row container">
        <h3 class="text-center">Returns and Refunds Policy for Gadgets Galore Website</h3><br><br><br><br>
        <h5>1.Eligibility for Returns and Refunds:</h5><br><br>
        <p class="fs-5 text-center">We strive to ensure your satisfaction with our products. If you are not entirely satisfied with your purchase from our mobile accessories e-commerce website, you may be eligible for a return and refund subject to the following conditions: </p><br><br><br><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> The item must be unused, undamaged, and in its original packaging.</p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> The return request must be initiated within 7 days from the date of delivery.</p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> The item is not listed under the non-returnable or non-refundable products category (e.g., personalized or custom-made items).</p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> The product is not excluded from returns and refunds due to hygiene or safety reasons (e.g., earphones, screen protectors).
        </p><br><br>
        
        <h5>2.Return Process:</h5>
        <p class="fs-5 text-center"> To initiate a return, please follow these steps:</p><br><br>
        
        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> Contact our customer support team through the designated channels (phone, email, or website) and provide the necessary details, including your order number, the reason for the return, and any supporting documentation or images, if applicable.
        </p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> Our customer support team will review your request and provide instructions on how to proceed with the return.</p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> Ensure that the item is securely packaged to avoid any damage during transit. Include all original accessories, manuals, and packaging materials.
        </p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> Ship the item to the designated return address provided by our customer support team. We recommend using a trackable shipping method and obtaining proof of shipment.
        </p><br><br><br><br><br><br>

        
        <h5>3.Refund Process:</h5><br><br>
        <p class="fs-5 text-center"> Upon receiving the returned item, we will inspect it to ensure it meets the eligibility criteria mentioned above. If the return is approved, we will process the refund according to your original payment method, excluding any shipping charges. Please note the following:</p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i> Refunds may take [X] business days to be processed and reflect in your account, depending on your payment provider.
        </p><br><br>

        <p class="fs-5 text-center"><i class="fa-regular fa-hand-point-right"></i>If the refund is not received within the expected timeframe, please contact our customer support team for further assistance. </p><br><br>
    </div>
</div>
{% endblock main-content %}