{% extends 'app/base.html' %}
{% load static %}

{% block  title %}Shipping and refund policy{% endblock title %}

{% block main-content %}
<div class="container mt-5 " >
    <div class="row container">
        <h3 class="text-center">Shipping and Delivery policy for Gadgets Galore Website</h3><br><br><br>

        <p class="fs-5 text-center">1.Shipping Methods: The policy will outline the available shipping methods, such as standard shipping, expedited shipping, or international shipping. It may also specify any associated costs or delivery timeframes for each method.</p><br><br>

        <p class="fs-5 text-center">2.Shipping Locations: The policy should clarify the regions or countries to which the website offers shipping services. It may mention any restrictions or limitations on shipping to certain locations.</p><br><br>

        <p class="fs-5 text-center">3.Order Processing Time: The policy should state the estimated time it takes to process orders before they are shipped. This includes the time required for order verification, packaging, and preparation for shipment.</p><br><br>

        <p class="fs-5 text-center">4.Delivery Timeframes: The policy should provide estimated delivery timeframes based on the shipping method and the customer's location. These timeframes can vary depending on factors like distance, customs clearance for international shipments, and carrier services.</p><br><br>

        <p class="fs-5 text-center">5.Order Tracking: The policy may mention whether customers will receive a tracking number or link to track their shipment. It may also provide information on how to access and use the tracking service.</p><br><br>

        <p class="fs-5 text-center">6.Shipping Charges: The policy should clearly state any shipping fees or charges that customers are responsible for. This includes information about any minimum order value required for free shipping, if applicable.</p><br><br>

        <p class="fs-5 text-center">7.Customs and Duties: If the website ships internationally, the policy should explain that customers are responsible for any customs duties, taxes, or import fees imposed by their country's customs authorities.</p><br><br>

        <p class="fs-5 text-center">8.Shipment Delays or Issues: The policy may address unforeseen circumstances that may cause delays or issues with shipping, such as weather conditions, customs delays, or carrier disruptions. It should inform customers about the steps they should take if they encounter such issues.</p><br><br>

        <p class="fs-5 text-center">9.Non-Delivery: The policy may specify the course of action if a shipment is undeliverable due to incorrect address information provided by the customer or other reasons. It may include options like reshipment, order cancellation, or refund processes.</p><br><br>

        <p class="fs-5 text-center">10.Shipping Policy Updates: The policy should state that it is subject to change and provide information on how customers will be notified of any updates.</p><br><br>
        
    </div>
</div>
{% endblock main-content %}